header{
    background-color: rgb(120, 30, 210);
    padding: 1,5rem 7%;
    justify-content: space-between;
    align-items: center;
   
    top: 0;
    right: 0;
    left: 0;
    display: flex;
}
.header img{
    height: 8rem;
    width: 8rem;
    margin: 0;
    display: flex
}
nav{
    display: flex
}
nav a{
    justify-content: space-between;
    color: antiquewhite;
   font:  1,6rem;
   margin: 0 12rem;
  
}
#copyrigth{
    background-color: rgb(120, 30, 210);
    color: rgb(246, 244, 244);
    padding-left: 70ch;
   
}
main p{

    font-size: larger;
    padding: 3ch;
    font-style: italic;
    
}
footer{

    padding-top: 6ch;
}

   

form div{
    padding: 15px;
}
.fullName{
padding-left:  40ch;

}
.fullName input{
    padding-left: 25ch;
}
.Department{
    padding-left:  40ch;
}
.Department input{
    padding-left:  25ch;
}
.Level{
    padding-left:  40ch;
}
.Level input{
    padding-left:  25ch;

}
.imageUrl{
    padding-left:  40ch;
}
.imageUrl input{
    padding-left:  25ch;
    
}
#submit{
    margin-left:  70ch;
    width: 70px;

}

#employee{
    align-items: center;

    background-color: darkolivegreen;
    padding: 20ch ;
    margin: 30ch ;
    border-radius: 40ch;
    margin-left: 30ch;
}
#employee img{
    align-items: center;
    justify-content: center;
    margin-left: 75px;
    width: 50ch;
}
#employee p{
    justify-content: center;
    text-align: center;
    color: bisque;
  
    width: 80%;
    
}